#main{
    display: flex;
    max-width: 290px;
    margin: 30px auto;
    flex-direction: column;
    background-color: teal;
    align-items: center;
    gap: 10px;
    padding: 17px 0;
    font-family: "Poppins";

   
}
#main h2{
    color: white;
    margin-bottom: 20px;
}
#main div{
        display: flex;
        flex-direction: column;
        color: white;
       
}

#main form button{
    background-color: white;
    color: teal;
    padding: 10px;
    margin: 31px auto;
    /* margin-left: 43px; */
    max-width: 115px;
    font-size: 1rem;
    border: 0;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;

}

#main form button:hover{
    background-color: rgb(229, 233, 235);
}

#main form input{
    width: 231px;
    height: 31px;
    border-radius: 10px;
    border: 0;
}

#main form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}